<body>
  <a class="text-center">
    <h1>accueil EventBrite</h1>
  </a>

  <div class="container" style="display: justify-content: space-around; padding-top: 50px">
    <br><%@event.each do |index|%></br>
      <div class="card text-white bg-info m-4" style="width: 40rem;">
        <div class="card-header mx-2">
	  <h3><br><%=index.title%></br></h3>
	  <br><%=index.description%></br>
	  <br><%=index.administrator%></br>
	  <div class="text-white"><br><%=link_to "more details", event_path(index) %></div>
	</div>
      </div>
  </div>
  <%end%>
</body>
