<a class="text-center">
  <h1>Event show</h1>
</a>

	  <h3><br><%=@event.title%></br></h3>
	  <br><%=@event.description%></br>
	  <br><%=@event.administrator%></br>

      <br><a href="<%= events_path %>">Retour</a></br>
